.home {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

nav {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: start;
  color: white;
  padding: 10px 30px;
  font-size: 25px;
}

.logo {
  cursor: pointer;
}

.hero {
  width: 100%;
  height: 60%;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  color: white;
  gap: 20px;
  padding: 10px 20px;
}

#tag {
  font-size: 2vmax;
}

.cate {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
  flex-wrap: wrap;
}

.upImg,
.genImg,
.chat {
  padding: 10px 20px;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 16px;
  border-radius: 30px;
}

.upImg svg {
  width: 25px;
  height: 25px;
  color: #07f00b;
}

.genImg svg {
  width: 25px;
  height: 25px;
  color: rgb(7, 236, 240);
}

.chat svg {
  width: 25px;
  height: 25px;
  color: rgb(240, 155, 7);
}

.upImg:hover,
.genImg:hover,
.chat:hover {
  background-color: rgba(240, 248, 255, 0.108);
}

.input-box {
  width: 100%;
  height: calc(100vh - 80px - 70%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 0px 20px;
  position: fixed;
  bottom: 0;
}

#add,
#submit {
  width: 60px;
  height: 60px;
  border: 2px solid rgba(255, 255, 255, 0.297);
  border-radius: 50px;
  background-color: rgb(11, 16, 17);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#add svg {
  width: 30px;
  height: 30px;
}

#submit svg {
  width: 25px;
  height: 25px;
}

form input {
  max-width: 60%;
  width: calc(100% - 120px);
  height: 60px;
  background-color: rgb(11, 16, 17);
  border: 2px solid rgba(255, 255, 255, 0.297);
  outline: none;
  border-radius: 30px;
  padding: 10px 20px;
  color: white;
  font-size: 18px;
}

.chat-page {
  width: 100%;
  height: 70%;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  overflow-y: auto;
}

.user,
.ai {
  width: 90%;
  padding: 20px 30px;
  color: white;
  background-color: rgb(11, 16, 17);
  border: 2px solid rgba(255, 255, 255, 0.297);
  border-radius: 20px;
  font-size: 20px;
  align-items: start;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.pop-up {
  width: 200px;
  height: 120px;
  position: absolute;
  bottom: 150px;
  left: 15%;
  background-color: rgb(11, 16, 17);
  border: 2px solid rgba(255, 255, 255, 0.175);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
}

.select-up,
.select-gen {
  color: white;
  display: flex;
  width: 100%;
  padding: 10px;
  gap: 5px;
  align-items: center;
  justify-content: start;
  font-size: 14px;
  border-radius: 20px;
}

.select-up svg {
  width: 25px;
  height: 25px;
  color: rgb(7, 240, 11);
}

.select-gen svg {
  width: 25px;
  height: 25px;
  color: rgb(7, 236, 240);
}

.select-up:hover,
.select-gen:hover {
  background-color: rgba(240, 248, 255, 0.1);
  cursor: pointer;

}

#genImg {
  color: rgb(7, 236, 240);
}

.user img {
  max-width: 300px;
  width: 90%;
  border-radius: 20px;
}

.ai img {
  max-width: 300px;
  width: 90%;
  border-radius: 20px;
}

#im {
  height: 100px;
  border-radius: 20px;
  position: absolute;
  bottom: 150px;
  left: 15%;
  box-shadow: 2px 2px 10px rgba(0, 0, 255, 0.209);
}

@media (max-width:500px) {
  #tag {
    font-size: 20px;
  }
}